@using BookMonkey.Services.Models
@model IList<Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Books</h2>

<ul>
    @foreach (var book in Model)
    {
        <li>@book.Title</li>                
    }
</ul>

